.site-footer{
    background-color: #000000;
    padding: 2rem;
    margin-top: 4rem;
    p{
        color: #ffffff;
        font-size: 2.5rem;
        font-weight: 400;
        font-family: 'PT-Sans', sans-serif;
        text-align: center;
        padding-bottom: 1rem;
        span{ 
            font-weight: 700;
        }
    }
}