@import url("https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans:400,700");
@import "boxSizing";
@import "Globales";

.no-margin {
  margin: 0;
}

.site-header {
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 60rem;
}
.barra {
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  width: 100%;
}







.site-header a {
  color: #fff;
  text-decoration: none;
}

.site-header h1 {
  text-align: center;
  font-weight: 400;
}

.site-header h1 span {
  font-weight: 700;
}

.navegacion a {
  text-align: center;
  display: block;
  font-size: 1.8rem;
}

.texto-header {
  color: #fff;
  text-align: center;
  margin-top: 5rem;
}

.texto-header p {
  font-size: 2.2rem;
}

//AgregadoF
