@import url("https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans:400,700");
@import "boxSizing";
@import "Globales";
@import "nav";
@import "footer";
@import "header";


@media (min-width: 1300px){
    .grid{
        display: flex;
        justify-content: space-between;
        .imagen{
            flex-basis: 49%;
        }
        .contenido-nosotros{
            flex-basis: 49%;
            p{
                margin: 0;
            }
        }
    }
}